<!DOCTYPE html>
<html>
 
  <head>
    <title>Charity Generator</title>
    <link rel="stylesheet" type="text/css" href="fonts.css">
  </head>
  
   <body background=""> 
     <header><h1>Charity Generator</h1></header>  
     
     <center><img src="http://blog.timesunion.com/opinion/files/2010/11/1122_WVcharity.jpg"><center>
       </body> 
  
  <p class ="copyright"> &copy; </p>
    
        </html> 