<!DOCTYPE html>
<html>
  <head>
    <title>Charity Generator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
   <body>
     <h1>Charity Generator</h1>
     <form action="/results" method="post">
          
     <select name="code">
             <% @choices.each do |choice| %>
       <option value="<%=choice%>"><%=choice_text%></option>
  <% end %>
     
        
     </form>
  </body>
</html> 