<!DOCTYPE html>
<html>
  <head>
    <title>Charity Generator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
   <body>
     <h1>Charity Generator</h1>
     <form action="/results" method="post">
          
       <%="One percent of your salary is" + " " + @donation.to_s %>
       <br>
             <% @choices.each do |choice| %>
       <input type="submit" name="cause" value=<%=choice%> class="btn btn-primary">
                   
  <% end %>
     <input type = "submit" value = "Submit">
        
     </form>
  </body>
</html> 