<!DOCTYPE html>
<html>
  <head>
    <title>Charity Generator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
   <body>
     <h1>Charity Generator</h1>
          <center><a href="/salary"><img class="charity_box" src="http://blog.timesunion.com/opinion/files/2010/11/1122_WVcharity.jpg"></a></center>
 
  </body>
</html> 