<!DOCTYPE html>
<html>
  <head>
    <title>Charity Generator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
   <body>
     <h1>Charity Generator</h1>
     <h2>Click on the donate box to begin</h2>
          <center><a href="/salary"><img class="charity_box" src="donationbox.png"></a></center>
 
  </body>
</html> 