<!DOCTYPE html>
<html>
  <head>
    <title>Charity Generator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
   <body>
<h1> Lets Begin </h1>
     <img class="charity_box" src="http://blog.timesunion.com/opinion/files/2010/11/1122_WVcharity.jpg">/a<
<form action="/causes" method="POST">
    Please enter your salary:
    <input type="text" name="salary">
    <br>
   <input type="submit" value = "Submit">
    </form>
  </body>
</html> 

