<h1> this works </h1>
<form action="/causes" method="POST">
    Please enter your salary:
    <input type="text" name="salary">
    <br>
    Please enter the currency:
    <input type="text" name="currency">
   <br><br>
   <input type="submit" value = "Submit">
    </form>