<!DOCTYPE html>
<html>
  <head>
    <title>Charity Generator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
   <body>
<h1> Racoon </h1>
<form action="/causes" method="POST">
    Please enter your salary:
    <input type="text" name="salary">
    <br>
   <input type="submit" value = "Submit">
    </form>
  </body>
</html> 

