h1 {
  color: #00CC99;
  font-size: 70px;
  font-family: "Times New Roman", Times, Serif
}

form {
    margin: auto;
    width: 60%;
/*     border:3px solid #8AC007; */
    padding: 10px;
}

.charity_box{
   
  width: 100px;
  height: 250px;
  
}
