h1 {
      margin: auto;
    width: 50%;
  color: #000000;
  font-size: 70px;
  font-family: "Times New Roman", Times, Serif
}

h2 {
  color: #000000;
    font-family: "Times New Roman", Times, Serif
}

form {
    margin: 40px 80px 5px 0px;
    width: 70%;
/*     border:3px solid #8AC007; */
    padding: 20px;
  font-size: 30px;
  color: #000000
  
}

.charity_box{
   
  width: 250px;
  height: 500px;
  
}

.image {
  float: right;
  width 200px;
  height: 350px;
}

body {
 
  background-image: url("http://cache.desktopnexus.com/thumbseg/656/656536-bigthumbnail.jpg")
  
}